#############################################
###             Common Config             ###
#############################################
# 日志级别及存储路径
LOG_LEVEL=DEBUG
LOG_FILE=/data/logs/app.log
# 上传的文件的临时存储路径和最终存储路径，最终路径的组织形式是：/data/uploads/{task_id}/{file_seq}_{filename}
UPLOAD_TEMP_FOLDER=/tmp/uploads
UPLOAD_FOLDER=/data/uploads
# 项目的工作目录，用于存储构建知识图谱的中间文件和最终文件，每个任务的工作目录是：/data/workspace/{task_id}，内部的文件组织不定
WORKSPACE=/data/workspace

#############################################
###               LLM Config              ###
#############################################
ZHIPU_LLM_NAME=glm-4-plus
ZHIPU_API_KEY=
ZHIPU_API_BASE=https://open.bigmodel.cn/api/paas/v4

GITHUB_LLM_NAME=gpt-4o
GITHUB_BASE_URL=https://models.inference.ai.azure.com
GITHUB_TOKEN=

#############################################
###           Embeddings Config           ###
#############################################
EMBEDDINGS_NAME=embedding-3
EMBEDDINGS_API_KEY=
EMBEDDINGS_API_BASE=https://open.bigmodel.cn/api/paas/v4

#############################################
###             Neo4j Config              ###
#############################################
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j

#############################################
###             Redis Config              ###
#############################################
REDIS_URL=redis://localhost:6379
REDIS_TTL=3600

#############################################
###          Graph Builder Config         ###
#############################################
TASK_BUFFER_SIZE=20
LLM_CONCUR_SIZE=20
EMBEDDINGS_CONCUR_SIZE=1

#############################################
###             API Config                ###
#############################################
SERVER_PORT=50051
