# requirements-graphmind[base].txt
python-dotenv
tqdm==4.66.5
pydantic==2.8.2
six==1.16.0
oss2==2.18.4
unstructured==0.15.1
markdown==3.6
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langgraph==0.2.28
langchainhub==0.1.20
zhipuai==2.1.4.20230814
neo4j==5.23.0
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5
# requirements-graphmind[graphrag].txt
# graphrag==0.3.3
# tenacity==8.5.0
jinja2==3.1.4
pyyaml==6.0.2
# requirements-graphmind[grpc].txt
langchain-redis==0.1.0
redis==5.0.8
protobuf==5.27.2
grpcio==1.66.1
grpcio-tools==1.66.1
# requirements-graphmind[http].txt
fastapi==0.115.0
uvicorn==0.30.6